<nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/" style="font-size: 30px;font-weight: 500;">BLAC-K FOOD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Trang chủ <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown dropdown-cart">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-shopping-basket"></i> Giỏ hàng
            <!--              <span class="badge badge-success">{{foodOrder.foodList.length}}</span>-->
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="restaurant-detailed-banner">
  <div class="text-center">
    <img class="img-fluid cover" [src]="restaurant.image">
  </div>
  <div class="restaurant-detailed-header">
    <div class="container">
      <div class="row d-flex align-items-end">
        <div class="col-md-8">
          <div class="restaurant-detailed-header-left">
            <img class="img-fluid mr-3 float-left" alt="osahan" src="https://freedesignfile.com/upload/2020/09/Tasty-food-vector-icon.jpg">
            <h2 class="text-white">{{restaurant.name}}</h2>
            <p class="text-white mb-1"><i class="icofont-location-pin"></i>{{restaurant.address}}</p>
            <p class="text-white mb-0"><i class="icofont-food-cart"></i> #banhtrang, #thitheo</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="restaurant-detailed-header-right text-right">
            <button class="btn btn-success" type="button"><i class="icofont-clock-time"></i> Giao hàng:
              25–35 min
            </button>
            <h6 class="text-white mb-0 restaurant-detailed-ratings"><span
              class="generator-bg rounded text-white"><i class="icofont-star"></i> 3.1</span> 23
              Ratings <i class="ml-3 icofont-speech-comments"></i> 91 reviews</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="offer-dedicated-nav bg-white border-top-0 shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill"
               routerLink="/restaurant-homepage/{{restaurantId}}"  role="tab"
               aria-controls="pills-restaurant-info"
               aria-selected="false">Home</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" id="pills-restaurant-info-tab" data-toggle="pill"
               routerLink="/restaurant-detail/{{restaurantId}}"  role="tab"
               aria-controls="pills-restaurant-info"
               aria-selected="false">Thông tin nhà hàng</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link"  data-toggle="pill"
               routerLink="/restaurant-order-booking-list/{{restaurantId}}"  role="tab"
               aria-controls="pills-order-online"
               aria-selected="true">Đơn hàng</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" id="pills-order-online-tab" data-toggle="pill"
               routerLink="/restaurant-order-list//{{restaurantId}}"  role="tab"
               aria-controls="pills-order-online"
               aria-selected="true">Lịch sử đơn hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-gallery-tab"
               [routerLinkActive]="['active']" data-toggle="pill"
               role="tab" aria-controls="pills-gallery"  aria-selected="false">Doanh Thu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-reviews-tab" data-toggle="pill" href="#pills-reviews" routerLink=""
               role="tab" aria-controls="pills-reviews" aria-selected="false">Phản Hồi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#pills-reviews"
               role="tab" aria-controls="pills-reviews" routerLink="/restaurant-coupon-list" aria-selected="false">Voucher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#pills-reviews"
               role="tab" aria-controls="pills-reviews" routerLinkActive="active" aria-selected="false">Hợp Đồng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#pills-reviews" routerLink="/restaurant-create-food"
               role="tab" aria-controls="pills-reviews" aria-selected="false">Tạo Món</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section pt-4 pb-4 osahan-account-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="osahan-account-page-left shadow-sm rounded bg-white h-100">
          <div class="border-bottom p-4">
            <div class="osahan-user text-center">
              <div class="osahan-user-media">
                <img class="mb-3 rounded-pill shadow-sm mt-1" [src]="user.avatar"
                     alt="gurdeep singh osahan">
                <div class="osahan-user-media-body">
                  <a  class="mb-2" style="font-size: 14px"><i class="icofont-farmer-alt"></i> {{user.name}}</a>
                  <p class="mb-1"><i class="icofont-phone"></i> {{user.phone}}</p>
                  <p><a href="https://thaotrinh.info/cdn-cgi/l/email-protection"
                        class="__cf_email__"
                        data-cfemail="6f060e02001c0e070e012f08020e0603410c0002"><i class="icofont-ui-email"></i> {{user.email}}</a>
                  </p>
                  <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3"
                                                                 data-toggle="modal" data-target="#edit-profile-modal" href="#"><i
                    class="icofont-ui-edit"></i>  Sửa</a></p>
                </div>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="orders-tab" data-toggle="tab" href="#orders" role="tab"
                 aria-controls="orders" aria-selected="true"><i class="icofont-food-cart"></i>
                Đơn hàng của bạn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="favourites-tab" data-toggle="tab" href="#favourites" role="tab"
                 aria-controls="favourites" aria-selected="false"><i class="icofont-heart"></i>
                Yêu thích</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="addresses-tab" data-toggle="tab" href="#addresses" role="tab"
                 aria-controls="addresses" aria-selected="false"><i class="icofont-location-pin"></i>
                Địa chỉ giao hàng</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="osahan-account-page-right rounded shadow-sm bg-white p-4 h-100">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="orders" role="tabpanel"
                 aria-labelledby="orders-tab">
              <h4 class="font-weight-bold mt-0 mb-4">Doanh Thu</h4>
              <!--              listOrders-->
              <div class="bg-white card mb-4 order-list shadow-sm"  >
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  </tbody>
                </table>
                <div>
                  <div>
                    <div>
                      <div style="display: block">
                        <canvas baseChart [data]="barChartData" [options]="barChartOptions"
                                [type]="barChartType" (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>
                      </div>
                      <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section pt-5 pb-5 text-center bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5 class="m-0">Bạn có cửa hàng? <a href="login.html">Gia nhập với chúng tôi cùng cung cấp sản phẩm tốt nhất cho khách hàng</a></h5>
      </div>
    </div>
  </div>
</section>
<section class="footer pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12 col-sm-12">
        <h6 class="mb-3">Đăng ký nhận thông tin khi có giảm giá</h6>
        <form class="newsletter-form mb-1">
          <div class="input-group">
            <input type="text" placeholder="Email của bạn" class="form-control">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary">
                Đăng ký
              </button>
            </div>
          </div>
        </form>
        <p><a class="text-info" href="register.html">Đăng ký</a> để nhận<a
          href="offers.html"> hàng ngàn ưu đãi khác</a></p>
        <div class="app">
          <p class="mb-2">DOWNLOAD APP</p>
          <a href="#">
            <img class="img-fluid" src="img/google.png">
          </a>
          <a href="#">
            <img class="img-fluid" src="img/apple.png">
          </a>
        </div>
      </div>
      <div class="col-md-1 col-sm-6 mobile-none">
      </div>
      <div class="col-md-2 col-6 col-sm-4">
        <h6 class="mb-3">Về chúng tôi</h6>
        <ul>
          <li><a href="#">Thông tin liên hệ</a></li>
          <li><a href="#">Văn hóa doanh nghiệp</a></li>
          <li><a href="#">Tầm nhìn - Sứ mệnh</a></li>
          <li><a href="#">Tuyển dụng</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-6 col-sm-4">
        <h6 class="mb-3">Dành cho cửa hàng</h6>
        <ul>
          <li><a href="#">Hỗ trợ kỹ thuật</a></li>
          <li><a href="#">Hỗ trợ bán hàng</a></li>
          <li><a href="#">Góp ý</a></li>
          <li><a href="#">Khiếu nại</a></li>
        </ul>
      </div>
      <div class="col-md-2 m-none col-4 col-sm-4">
        <h6 class="mb-3">Khách hàng</h6>
        <ul>
          <li><a href="#">Bảo vệ quyền lợi người tiêu dùng</a></li>
          <li><a href="#">Chăm sóc khách hàng</a></li>
          <li><a href="#">Khiếu nại</a></li>
          <li><a href="#">Góp ý</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="footer-bottom-search pt-5 pb-5 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <p class="text-black">Từ khóa phổ biến</p>
        <div class="search-links">
          <a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> | <a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a>
        </div>
        <p class="mt-4 text-black">Danh mục món ăn</p>
        <div class="search-links">
          <a href="#">Fast Food</a> | <a href="#">Chinese</a> | <a href="#">Street Food</a> | <a
          href="#">Continental</a> | <a href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South
          Indian</a> | <a href="#">Punjabi Food</a> | <a href="#">Fast Food</a> | <a
          href="#">Chinese</a> | <a href="#">Street Food</a> | <a href="#">Continental</a> | <a
          href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South Indian</a> | <a
          href="#">Punjabi Food</a><a href="#">Fast Food</a> | <a href="#">Chinese</a> | <a
          href="#">Street Food</a> | <a href="#">Continental</a> | <a href="#">Mithai</a> | <a
          href="#">Cafe</a> | <a href="#">South Indian</a> | <a href="#">Punjabi Food</a> | <a
          href="#">Fast Food</a> | <a href="#">Chinese</a> | <a href="#">Street Food</a> | <a
          href="#">Continental</a> | <a href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South
          Indian</a> | <a href="#">Punjabi Food</a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="pt-4 pb-4 text-center">
  <div class="container">
    <p class="mt-0 mb-0">© Copyright 2020 thaotrinhminh@gmail.com. All Rights Reserved</p>
    <small class="mt-0 mb-0"> Made with <i class="fas fa-heart heart-icon text-danger"></i> by
      <a class="text-danger" target="_blank"
         href="http://thaotrinh.info">thaotrinh.info</a>
    </small>
  </div>
</footer>
