<div class="homepage-header">
  <div class="overlay"></div>
  <nav class="navbar navbar-expand-lg navbar-dark osahan-nav">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img alt="logo" src="../src/osahan-eat-viethoa/img/favicon.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="home.html">Trang chủ <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="home.html">Đăng ký <span class="sr-only"></span></a>
          </li>
          <li class="nav-item dropdown dropdown-cart">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-shopping-basket"></i> Giỏ hàng
              <span class="badge badge-success">5</span>
            </a>
            <div class="dropdown-menu dropdown-cart-top p-0 dropdown-menu-right shadow-sm border-0">
              <div class="dropdown-cart-top-body border-top p-4">
                <p class="mb-2"><i class="icofont-ui-press text-danger food-item"></i> Chicken Tikka
                  Sub
                  12" (30 cm) x 1 <span class="float-right text-secondary">314.000</span></p>
                <p class="mb-2"><i class="icofont-ui-press text-success food-item"></i> Corn & Peas
                  Salad x 1 <span class="float-right text-secondary">209.000</span></p>
                <p class="mb-2"><i class="icofont-ui-press text-success food-item"></i> Veg Seekh
                  Sub 6"
                  (15 cm) x 1 <span class="float-right text-secondary">133.000</span></p>
                <p class="mb-2"><i class="icofont-ui-press text-danger food-item"></i> Chicken Tikka
                  Sub
                  12" (30 cm) x 1 <span class="float-right text-secondary">314.000</span></p>
                <p class="mb-2"><i class="icofont-ui-press text-danger food-item"></i> Corn & Peas
                  Salad
                  x 1 <span class="float-right text-secondary">209.000</span></p>
              </div>
              <div class="dropdown-cart-top-footer border-top p-4">
                <p class="mb-0 font-weight-bold text-secondary">Tổng tiền <span
                  class="float-right text-dark">499.000</span></p>
                <!-- <small class="text-info">Extra charges may apply</small> -->
              </div>
              <div class="dropdown-cart-top-footer border-top p-2">
                <a class="btn btn-success btn-block btn-lg" href="checkout.html"> Thanh toán</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="pt-5 pb-5 homepage-search-block position-relative">
    <div class="banner-overlay"></div>
    <div class="container">
      <div class="row d-flex align-items-center py-lg-4">
        <div class="col-lg-8 mx-auto">
          <div class="homepage-search-title text-center">
            <h1 class="mb-2 display-4 text-shadow text-white font-weight-normal"><span
              class="font-weight-bold">Món ngon dành riêng cho bạn 🇮🇳
                                </span></h1>
            <h5 class="mb-5 text-shadow text-white-50 font-weight-normal">Danh sách nhà hàng với nhiều
              món ngon ưu đãi</h5>
          </div>
          <div class="homepage-search-form">
            <form class="form-noborder">
              <div class="form-row">
                <div class="col-lg-3 col-md-3 col-sm-12 form-group">
                  <div class="location-dropdown">
                    <i class="icofont-location-arrow"></i>
                    <select class="custom-select form-control-lg">
                      <option> Tìm kiếm nhanh </option>
                      <option> Ăn sáng </option>
                      <option> Ăn trưa </option>
                      <option> Ăn tối </option>
                      <option> Cafés </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 form-group">
                  <input type="text" placeholder="Chọn món theo sở thích"
                         class="form-control form-control-lg">
                  <!-- <a class="locate-me" href="#"><i class="icofont-ui-pointer"></i> Locate Me</a> -->
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 form-group">
                  <a href="listing.html" class="btn btn-primary btn-block btn-lg btn-gradient">Tìm
                    kiếm</a>

                </div>
              </div>
            </form>
          </div>
          <h6 class="mt-4 text-shadow text-white font-weight-normal">Ví dụ. Pizzas, Gà rán,
            Nem chua...</h6>
          <div class="owl-carousel owl-carousel-category owl-theme">
            <div class="item">
              <div class="osahan-category-item">
                <a href="#">
                  <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/product-mangement.appspot.com/o/Messenger%E9%80%9A%E8%A9%B1%20-%20Google%20Chrome%2011_30_2021%209_08_36%20PM_1642008571830?alt=media&token=af1224ef-ba44-4ed3-92cc-94bd3cc421fc" alt="">
                  <h6>American</h6>
                  <p>156</p>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="osahan-category-item">
                <a href="#">
                  <img class="img-fluid" src="img/list/2.png" alt="">
                  <h6>Pizza</h6>
                  <p>120</p>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="osahan-category-item">
                <a href="#">
                  <img class="img-fluid" src="img/list/3.png" alt="">
                  <h6>Healthy</h6>
                  <p>130</p>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="osahan-category-item">
                <a href="#">
                  <img class="img-fluid" src="img/list/4.png" alt="">
                  <h6>Vegetarian</h6>
                  <p>120</p>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="osahan-category-item">
                <a href="#">
                  <img class="img-fluid" src="img/list/5.png" alt="">
                  <h6>Chinese</h6>
                  <p>111</p>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="osahan-category-item">
                <a href="#">
                  <img class="img-fluid" src="img/list/6.png" alt="">
                  <h6>Hamburgers</h6>
                  <p>958</p>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="osahan-category-item">
                <a href="#">
                  <img class="img-fluid" src="img/list/7.png" alt="">
                  <h6>Dessert</h6>
                  <p>56</p>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="osahan-category-item">
                <a href="#">
                  <img class="img-fluid" src="img/list/8.png" alt="">
                  <h6>Chicken</h6>
                  <p>40</p>
                </a>
              </div>
            </div>
            <div class="item">
              <div class="osahan-category-item">
                <a href="#">
                  <img class="img-fluid" src="img/list/9.png" alt="">
                  <h6>Indian</h6>
                  <p>156</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="section pt-5 pb-5 bg-white homepage-add-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-6">
        <div class="products-box">
          <a href="listing.html"><img alt="" src="img/pro1.jpg" class="img-fluid rounded"></a>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="products-box">
          <a href="listing.html"><img alt="" src="img/pro2.jpg" class="img-fluid rounded"></a>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="products-box">
          <a href="listing.html"><img alt="" src="img/pro3.jpg" class="img-fluid rounded"></a>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="products-box">
          <a href="listing.html"><img alt="" src="img/pro4.jpg" class="img-fluid rounded"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section pt-5 pb-5 products-section">
  <div class="container">
    <div class="section-header text-center">
      <h2>Đề xuất cho bạn</h2>
      <p>Những món ngon nhất, nhiều ưu đãi đang được mọi người quan tâm</p>
      <span class="line"></span>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel owl-carousel-four owl-theme">
          <div class="item">
            <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
              <div class="list-card-image">
                <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i
                  class="icofont-heart"></i></a></div>
                <div class="member-plan position-absolute"><span class="badge badge-dark">KM</span>
                </div>
                <a href="detail.html">
                  <img src="img/list/1.png" class="img-fluid item-img">
                </a>
              </div>
              <div class="p-3 position-relative">
                <div class="list-card-body">
                  <h6 class="mb-1"><a href="detail.html" class="text-black">Ba rọi heo Rút Xương
                    Loại 1kg</a></h6>
                  <p class="text-gray mb-3">P. Bình Trị Đông, Bình Tân, TP. HCM</p>
                  <p class="text-gray mb-3 time"><span
                    class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                    class="icofont-wall-clock"></i> 20–25 min</span> <span
                    class="float-right text-black-50"> 250.00O</span></p>
                </div>
                <div class="list-card-badge">
                  <span class="badge badge-success">Giảm</span> <small>65% | Coupon
                  OSAHAN50</small>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
              <div class="list-card-image">
                <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i
                  class="icofont-heart"></i></a></div>
                <div class="member-plan position-absolute"><span class="badge badge-dark">KM</span>
                </div>
                <a href="detail.html">
                  <img src="img/list/3.png" class="img-fluid item-img">
                </a>
              </div>
              <div class="p-3 position-relative">
                <div class="list-card-body">
                  <h6 class="mb-1"><a href="detail.html" class="text-black">Cua gạch Cà Mau</a>
                  </h6>
                  <p class="text-gray mb-3"> P. 2, Quận 3, TP. HCM</p>
                  <p class="text-gray mb-3 time"><span
                    class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                    class="icofont-wall-clock"></i> 15–25 min</span> <span
                    class="float-right text-black-50"> 300.000</span></p>
                </div>
                <div class="list-card-badge">
                  <span class="badge badge-danger">Giảm</span> <small>65% | Coupon
                  OSAHAN50</small>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
              <div class="list-card-image">
                <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i
                  class="icofont-heart"></i></a></div>
                <div class="member-plan position-absolute"><span
                  class="badge badge-danger">KM</span></div>
                <a href="detail.html">
                  <img src="img/list/6.png" class="img-fluid item-img">
                </a>
              </div>
              <div class="p-3 position-relative">
                <div class="list-card-body">
                  <h6 class="mb-1"><a href="detail.html" class="text-black">Bao tử heo G Kitchen -
                    500gr
                  </a>
                  </h6>
                  <p class="text-gray mb-3">P. 2, Quận 3, TP. HCM</p>
                  <p class="text-gray mb-3 time"><span
                    class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                    class="icofont-wall-clock"></i> 15–25 min</span> <span
                    class="float-right text-black-50"> 250.000</span></p>
                </div>
                <div class="list-card-badge">
                  <span class="badge badge-danger">Giảm</span> <small>65% | Coupon
                  OSAHAN50</small>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
              <div class="list-card-image">
                <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i
                  class="icofont-heart"></i></a></div>
                <div class="member-plan position-absolute"><span
                  class="badge badge-dark">Promoted</span></div>
                <a href="detail.html">
                  <img src="img/list/8.png" class="img-fluid item-img">
                </a>
              </div>
              <div class="p-3 position-relative">
                <div class="list-card-body">
                  <h6 class="mb-1"><a href="detail.html" class="text-black">Cua thịt Y5
                    (0,5-0,65kg/1con)
                  </a>
                  </h6>
                  <p class="text-gray mb-3">496 Nguyễn Thị Minh Khai, P. 2</p>
                  <p class="text-gray mb-3 time"><span
                    class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                    class="icofont-wall-clock"></i> 15–25 min</span> <span
                    class="float-right text-black-50"> 187.000</span></p>
                </div>
                <div class="list-card-badge">
                  <span class="badge badge-danger">Giảm</span> <small>65% | Coupon
                  OSAHAN50</small>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
              <div class="list-card-image">
                <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i
                  class="icofont-heart"></i></a></div>
                <div class="member-plan position-absolute"><span
                  class="badge badge-dark">Promoted</span></div>
                <a href="detail.html">
                  <img src="img/list/9.png" class="img-fluid item-img">
                </a>
              </div>
              <div class="p-3 position-relative">
                <div class="list-card-body">
                  <h6 class="mb-1"><a href="detail.html" class="text-black">Sò lông cồ (20-25
                    con/kg)
                  </a>
                  </h6>
                  <p class="text-gray mb-3">P. Bình Trị Đông, Bình Tân, TP. HCM</p>
                  <p class="text-gray mb-3 time"><span
                    class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                    class="icofont-wall-clock"></i> 15–25 min</span> <span
                    class="float-right text-black-50"> 320.000</span></p>
                </div>
                <div class="list-card-badge">
                  <span class="badge badge-danger">Giảm</span> <small>65% | Coupon
                  OSAHAN50</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section pt-5 pb-5 bg-white becomemember-section border-bottom">
  <div class="container">
    <div class="section-header text-center white-text">
      <h2>Giảm giá nhiều nhất</h2>
      <span class="line"></span>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="list-card bg-white rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="favourite-heart text-danger position-absolute"><a href="#"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span>
            </div>
            <a href="#">
              <img src="img/list/7.png" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1"><a href="#" class="text-black">Sò lông cồ (20-25 con/kg)</a></h6>
              <p class="text-gray mb-2">P. Bình Trị Đông, Bình Tân, TP. HCM</p>
              <p class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-wall-clock"></i> 20–25 min</span> <span
                class="float-right text-black-50"> 250.00O</span></p>
            </div>
            <div class="list-card-badge">
              <span class="badge badge-success">Giảm</span> <small>65% | Coupon
              OSAHAN50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="list-card bg-white rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="favourite-heart text-danger position-absolute"><a href="#"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span>
            </div>
            <a href="#">
              <img src="img/list/8.png" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1"><a href="#" class="text-black">Cua gạch Cà Mau</a></h6>
              <p class="text-gray mb-2">P. Bình Trị Đông, Bình Tân, TP. HCM</p>
              <p class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-wall-clock"></i> 20–25 min</span> <span
                class="float-right text-black-50"> 250.00O</span></p>
            </div>
            <div class="list-card-badge">
              <span class="badge badge-success">Giảm</span> <small>14% | Coupon
              OSAHAN50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="list-card bg-white rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="favourite-heart text-danger position-absolute"><a href="#"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span>
            </div>
            <a href="#">
              <img src="img/list/9.png" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1"><a href="#" class="text-black">Bao tử heo G Kitchen - 500gr </a></h6>
              <p class="text-gray mb-2">P. Bình Trị Đông, Bình Tân, TP. HCM</p>
              <p class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-wall-clock"></i> 20–25 min</span> <span
                class="float-right text-black-50"> 150.00O</span></p>
            </div>
            <div class="list-card-badge">
              <span class="badge badge-success">Giảm</span> <small>54% | Coupon
              OSAHAN50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="list-card bg-white rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="favourite-heart text-danger position-absolute"><a href="#"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span>
            </div>
            <a href="#">
              <img src="img/list/1.png" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1"><a href="#" class="text-black">Ba rọi heo Rút Xương </a></h6>
              <p class="text-gray mb-2">P. 2, Quận 3, TP. HCM</p>
              <p class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-wall-clock"></i> 20–25 min</span> <span
                class="float-right text-black-50"> 150.00O</span></p>
            </div>
            <div class="list-card-badge">
              <span class="badge badge-success">Giảm</span> <small>54% | Coupon
              OSAHAN50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="list-card bg-white rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="favourite-heart text-danger position-absolute"><a href="#"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span>
            </div>
            <a href="#">
              <img src="img/list/3.png" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1"><a href="#" class="text-black">Ba rọi heo Rút Xương </a></h6>
              <p class="text-gray mb-2">P. 2, Quận 3, TP. HCM</p>
              <p class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-wall-clock"></i> 20–25 min</span> <span
                class="float-right text-black-50"> 150.00O</span></p>
            </div>
            <div class="list-card-badge">
              <span class="badge badge-success">Giảm</span> <small>6% | Coupon
              OSAHAN50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="list-card bg-white rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="favourite-heart text-danger position-absolute"><a href="#"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span>
            </div>
            <a href="#">
              <img src="img/list/4.png" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1"><a href="#" class="text-black">Ba rọi heo Rút Xương </a></h6>
              <p class="text-gray mb-2">P. 2, Quận 3, TP. HCM</p>
              <p class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-wall-clock"></i> 20–25 min</span> <span
                class="float-right text-black-50"> 150.00O</span></p>
            </div>
            <div class="list-card-badge">
              <span class="badge badge-success">Giảm</span> <small>6% | Coupon
              OSAHAN50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="list-card bg-white rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="favourite-heart text-danger position-absolute"><a href="#"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span>
            </div>
            <a href="#">
              <img src="img/list/5.png" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1"><a href="#" class="text-black">Ba rọi heo Rút Xương </a></h6>
              <p class="text-gray mb-2">P. 2, Quận 3, TP. HCM</p>
              <p class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-wall-clock"></i> 20–25 min</span> <span
                class="float-right text-black-50"> 150.00O</span></p>
            </div>
            <div class="list-card-badge">
              <span class="badge badge-success">Giảm</span> <small>6% | Coupon
              OSAHAN50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-4">
        <div class="list-card bg-white rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image">
            <div class="favourite-heart text-danger position-absolute"><a href="#"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span class="badge badge-dark">Promoted</span>
            </div>
            <a href="#">
              <img src="img/list/6.png" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1"><a href="#" class="text-black">Ba rọi heo Rút Xương </a></h6>
              <p class="text-gray mb-2">P. 2, Quận 3, TP. HCM</p>
              <p class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-wall-clock"></i> 20–25 min</span> <span
                class="float-right text-black-50"> 150.00O</span></p>
            </div>
            <div class="list-card-badge">
              <span class="badge badge-success">Giảm</span> <small>6% | Coupon
              OSAHAN50</small>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
<section class="section pt-5 pb-5 text-center bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5 class="m-0">Bạn có cửa hàng? <a href="login.html">Gia nhập với chúng tôi cùng cung cấp sản phẩm tốt nhất cho khách hàng</a></h5>
      </div>
    </div>
  </div>
</section>
<section class="footer pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12 col-sm-12">
        <h6 class="mb-3">Đăng ký nhận thông tin khi có giảm giá</h6>
        <form class="newsletter-form mb-1">
          <div class="input-group">
            <input type="text" placeholder="Email của bạn" class="form-control">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary">
                Đăng ký
              </button>
            </div>
          </div>
        </form>
        <p><a class="text-info" href="register.html">Đăng ký</a> để nhận<a
          href="offers.html"> hàng ngàn ưu đãi khác</a></p>
        <div class="app">
          <p class="mb-2">DOWNLOAD APP</p>
          <a href="#">
            <img class="img-fluid" src="img/google.png">
          </a>
          <a href="#">
            <img class="img-fluid" src="img/apple.png">
          </a>
        </div>
      </div>
      <div class="col-md-1 col-sm-6 mobile-none">
      </div>
      <div class="col-md-2 col-6 col-sm-4">
        <h6 class="mb-3">Về chúng tôi</h6>
        <ul>
          <li><a href="#">Thông tin liên hệ</a></li>
          <li><a href="#">Văn hóa doanh nghiệp</a></li>
          <li><a href="#">Tầm nhìn - Sứ mệnh</a></li>
          <li><a href="#">Tuyển dụng</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-6 col-sm-4">
        <h6 class="mb-3">Dành cho cửa hàng</h6>
        <ul>
          <li><a href="#">Hỗ trợ kỹ thuật</a></li>
          <li><a href="#">Hỗ trợ bán hàng</a></li>
          <li><a href="#">Góp ý</a></li>
          <li><a href="#">Khiếu nại</a></li>
        </ul>
      </div>
      <div class="col-md-2 m-none col-4 col-sm-4">
        <h6 class="mb-3">Khách hàng</h6>
        <ul>
          <li><a href="#">Bảo vệ quyền lợi người tiêu dùng</a></li>
          <li><a href="#">Chăm sóc khách hàng</a></li>
          <li><a href="#">Khiếu nại</a></li>
          <li><a href="#">Góp ý</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="footer-bottom-search pt-5 pb-5 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <p class="text-black">Từ khóa phổ biến</p>
        <div class="search-links">
          <a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> | <a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a>
        </div>
        <p class="mt-4 text-black">Danh mục món ăn</p>
        <div class="search-links">
          <a href="#">Fast Food</a> | <a href="#">Chinese</a> | <a href="#">Street Food</a> | <a
          href="#">Continental</a> | <a href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South
          Indian</a> | <a href="#">Punjabi Food</a> | <a href="#">Fast Food</a> | <a
          href="#">Chinese</a> | <a href="#">Street Food</a> | <a href="#">Continental</a> | <a
          href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South Indian</a> | <a
          href="#">Punjabi Food</a><a href="#">Fast Food</a> | <a href="#">Chinese</a> | <a
          href="#">Street Food</a> | <a href="#">Continental</a> | <a href="#">Mithai</a> | <a
          href="#">Cafe</a> | <a href="#">South Indian</a> | <a href="#">Punjabi Food</a> | <a
          href="#">Fast Food</a> | <a href="#">Chinese</a> | <a href="#">Street Food</a> | <a
          href="#">Continental</a> | <a href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South
          Indian</a> | <a href="#">Punjabi Food</a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="pt-4 pb-4 text-center">
  <div class="container">
    <p class="mt-0 mb-0">© Copyright 2020 thaotrinhminh@gmail.com. All Rights Reserved</p>
    <small class="mt-0 mb-0"> Made with <i class="fas fa-heart heart-icon text-danger"></i> by
      <a class="text-danger" target="_blank"
         href="http://thaotrinh.info">thaotrinh.info</a>
    </small>
  </div>
</footer>
<button (click)="logout()" >LogOut</button>
