<nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/" style="font-size: 30px;font-weight: 500;">BLAC-K FOOD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Trang chủ <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown dropdown-cart">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-shopping-basket"></i> Giỏ hàng
            <span class="badge badge-success">5</span>
          </a>
          <div class="dropdown-menu dropdown-cart-top p-0 dropdown-menu-right shadow-sm border-0">
            <div class="dropdown-cart-top-body border-top p-4">
              <p class="mb-2"><i class="icofont-ui-press text-danger food-item"></i> Chicken Tikka
                Sub
                12" (30 cm) x 1 <span class="float-right text-secondary">314.000</span></p>
              <p class="mb-2"><i class="icofont-ui-press text-success food-item"></i> Corn & Peas
                Salad x 1 <span class="float-right text-secondary">209.000</span></p>
              <p class="mb-2"><i class="icofont-ui-press text-success food-item"></i> Veg Seekh
                Sub 6"
                (15 cm) x 1 <span class="float-right text-secondary">133.000</span></p>
              <p class="mb-2"><i class="icofont-ui-press text-danger food-item"></i> Chicken Tikka
                Sub
                12" (30 cm) x 1 <span class="float-right text-secondary">314.000</span></p>
              <p class="mb-2"><i class="icofont-ui-press text-danger food-item"></i> Corn & Peas
                Salad
                x 1 <span class="float-right text-secondary">209.000</span></p>
            </div>
            <div class="dropdown-cart-top-footer border-top p-4">
              <p class="mb-0 font-weight-bold text-secondary">Tổng tiền <span
                class="float-right text-dark">499.000</span></p>
              <!-- <small class="text-info">Extra charges may apply</small> -->
            </div>
            <div class="dropdown-cart-top-footer border-top p-2">
              <a class="btn btn-success btn-block btn-lg" href="checkout.html"> Thanh toán</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="breadcrumb-osahan pt-5 pb-5 bg-dark position-relative text-center">
  <h1 class="text-white">Hóa đơn</h1>
  <h2 class="text-white-50">Mã đơn hàng {{foodOrder.id}}</h2>
</section>
<section class="section pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="p-5 osahan-invoice bg-white shadow-sm">
          <div class="row mb-5 pb-3 ">
            <div class="col-md-8 col-10">
              <h3 class="mt-0">Cảm ơn bạn đã mua sắm tại <strong class="text-secondary">BLAC-K FOOD </strong>,
                Đây là thông tin chi tiết đơn hàng của bạn: </h3>
            </div>
            <div class="col-md-4 col-2 pl-0 text-right">
              <p class="mb-4 mt-2">
                <a class="text-primary font-weight-bold" href="#"><i class="icofont-print"></i>
                  PRINT</a>
              </p>
              <img alt="logo" src="img/favicon.png">
            </div>
          </div>
          <div class="row" style="font-size: 25px">
            <div class="col-md-6">
              <p class="mb-1 text-black">Mã đơn hàng: <strong>{{foodOrder.id}}</strong></p>
              <p class="mb-1">Ngày đặt hàng: <strong>{{foodOrder.time|date:'MMMM d, y, h:mm:ss a z'}}</strong></p>
              <p class="mb-1">Thời điểm giao hàng dự kiến: <strong>12/11/2018, 07:18 PM</strong></p>
              <p class="mb-1">Trạng thái đơn: <strong class="text-success">{{foodOrder.generalStatus.name}}</strong></p>
            </div>
            <div class="col-md-6">
              <p class="mb-1 text-black">Địa chỉ nhận hàng:</p>
              <p class="mb-1 text-primary"><strong>Công ty</strong></p>
              <p class="mb-1">100 Thạch Thị Thanh, P. Tân Định, Quận 1, TP. HCM
              </p>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12">
              <p class="mb-1">Cửa hàng:</p>
<!--              <h2 class="mb-1 text-black"><strong>{{foodOrder.restaurant.name}}</strong></h2>-->
<!--              <h3 class="mb-1">{{foodOrder.restaurant.address}}</h3>-->
              <table class="table mt-3 mb-0">
                <thead class="thead-light">
                <tr>
                  <th class="text-black font-weight-bold" scope="col">Sản phẩm</th>
                  <th class="text-right text-black font-weight-bold" scope="col">Số lượng</th>
                  <th class="text-right text-black font-weight-bold" scope="col">Giá</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let food of foodOrder.food">
                  <td>{{food.name}}</td>
                  <td class="text-right">{{food.quantity}}</td>
                  <td class="text-right">{{food.price|currency}}</td>
                </tr>
                <tr>
                  <td class="text-right" colspan="2">Tổng tiền hàng:</td>
                  <td style="font-size: 15px" class="text-right">{{getTotalPrice(foodOrder.food)|currency}}</td>
                </tr>
                <tr>
                  <td class="text-right" colspan="2">VAT:</td>
                  <td class="text-right"> 42.000</td>
                </tr>
                <tr>
                  <td class="text-right" colspan="2">Phí giao hàng:</td>
                  <td class="text-right"> 25.000</td>
                </tr>
                <tr>
                  <td class="text-right" colspan="2">Giảm giá (GURDEEP50):</td>
                  <td class="text-right"> 120.000</td>
                </tr>
                <tr>
                  <td class="text-right" colspan="2">
                    <h6 class="text-success">Tổng thanh toán:</h6>
                  </td>
                  <td class="text-right">
                    <h6 class="text-success"> 230.000</h6>
                  </td>
                </tr>
                </tbody>
              </table>
              <button><a routerLink="/restaurant-homepage">Back to Home</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section pt-5 pb-5 text-center bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5 class="m-0">Bạn có cửa hàng? <a href="login.html">Gia nhập với chúng tôi cùng cung cấp sản phẩm
          tốt nhất cho khách hàng</a></h5>
      </div>
    </div>
  </div>
</section>
<section class="footer pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12 col-sm-12">
        <h6 class="mb-3">Đăng ký nhận thông tin khi có giảm giá</h6>
        <form class="newsletter-form mb-1">
          <div class="input-group">
            <input type="text" placeholder="Email của bạn" class="form-control">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary">
                Đăng ký
              </button>
            </div>
          </div>
        </form>
        <p><a class="text-info" href="register.html">Đăng ký</a> để nhận<a href="offers.html"> hàng ngàn ưu
          đãi khác</a></p>
        <div class="app">
          <p class="mb-2">DOWNLOAD APP</p>
          <a href="#">
            <img class="img-fluid" src="img/google.png">
          </a>
          <a href="#">
            <img class="img-fluid" src="img/apple.png">
          </a>
        </div>
      </div>
      <div class="col-md-1 col-sm-6 mobile-none">
      </div>
      <div class="col-md-2 col-6 col-sm-4">
        <h6 class="mb-3">Về chúng tôi</h6>
        <ul>
          <li><a href="#">Thông tin liên hệ</a></li>
          <li><a href="#">Văn hóa doanh nghiệp</a></li>
          <li><a href="#">Tầm nhìn - Sứ mệnh</a></li>
          <li><a href="#">Tuyển dụng</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-6 col-sm-4">
        <h6 class="mb-3">Dành cho cửa hàng</h6>
        <ul>
          <li><a href="#">Hỗ trợ kỹ thuật</a></li>
          <li><a href="#">Hỗ trợ bán hàng</a></li>
          <li><a href="#">Góp ý</a></li>
          <li><a href="#">Khiếu nại</a></li>
        </ul>
      </div>
      <div class="col-md-2 m-none col-4 col-sm-4">
        <h6 class="mb-3">Khách hàng</h6>
        <ul>
          <li><a href="#">Bảo vệ quyền lợi người tiêu dùng</a></li>
          <li><a href="#">Chăm sóc khách hàng</a></li>
          <li><a href="#">Khiếu nại</a></li>
          <li><a href="#">Góp ý</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="footer-bottom-search pt-5 pb-5 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <p class="text-black">Từ khóa phổ biến</p>
        <div class="search-links">
          <a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a
          href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a
          href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> | <a href="#">Gà rán</a> | <a
          href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a href="#">Highland</a> | <a
          href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a href="#">Tôm alaska</a> | <a
          href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a
          href="#">Pizza</a> | <a href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh
          bèo</a> | <a href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a>
          | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a href="#">Highland</a> | <a
          href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a href="#">Tôm alaska</a> | <a
          href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a> | <a href="#">Nem chua rán</a> | <a
          href="#">Pizza</a> | <a href="#">Highland</a> | <a href="#">Starbuck</a> | <a href="#">Bánh
          bèo</a> | <a href="#">Tôm alaska</a> | <a href="#">Tôm hoàng đế</a> |<a href="#">Gà rán</a>
          | <a href="#">Nem chua rán</a> | <a href="#">Pizza</a> | <a href="#">Highland</a> | <a
          href="#">Starbuck</a> | <a href="#">Bánh bèo</a> | <a href="#">Tôm alaska</a> | <a
          href="#">Tôm hoàng đế</a>
        </div>
        <p class="mt-4 text-black">Danh mục món ăn</p>
        <div class="search-links">
          <a href="#">Fast Food</a> | <a href="#">Chinese</a> | <a href="#">Street Food</a> | <a
          href="#">Continental</a> | <a href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South
          Indian</a> | <a href="#">Punjabi Food</a> | <a href="#">Fast Food</a> | <a
          href="#">Chinese</a> | <a href="#">Street Food</a> | <a href="#">Continental</a> | <a
          href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South Indian</a> | <a
          href="#">Punjabi Food</a><a href="#">Fast Food</a> | <a href="#">Chinese</a> | <a
          href="#">Street Food</a> | <a href="#">Continental</a> | <a href="#">Mithai</a> | <a
          href="#">Cafe</a> | <a href="#">South Indian</a> | <a href="#">Punjabi Food</a> | <a
          href="#">Fast Food</a> | <a href="#">Chinese</a> | <a href="#">Street Food</a> | <a
          href="#">Continental</a> | <a href="#">Mithai</a> | <a href="#">Cafe</a> | <a href="#">South
          Indian</a> | <a href="#">Punjabi Food</a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="pt-4 pb-4 text-center">
  <div class="container">
    <p class="mt-0 mb-0">© Copyright 2020 thaotrinhminh@gmail.com. All Rights Reserved</p>
    <small class="mt-0 mb-0"> Made with <i class="fas fa-heart heart-icon text-danger"></i> by
      <a class="text-danger" target="_blank" href="http://thaotrinh.info">thaotrinh.info</a>
    </small>
  </div>
</footer>
